<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Card Details</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveCard()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Card Title</span>
          <input type="text" ng-model="cardData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">DateTime</span>
          <input type="text" ng-model="cardData.datetime">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
